# INTEGER

integer adalah tipe data phyton yang berupa angka

In [1]:
print(123123)

123123

In [2]:
type(10)

int

## Floating-Point

In [3]:
4.2

4.2

In [4]:
type(4.2)

float

In [5]:
4.

4.0

In [6]:
.2

0.2

In [7]:
.4e7

4000000.0

In [8]:
4.2e-4

0.00042

# Strings

Strings adalah tipe data di phyton yang berupa desimal

In [9]:
print('ini adalah tipe data string')

ini adalah tipe data string

In [10]:
type('ini adalah tipe data string')

str

In [11]:
print("this string contains a single quote(')character.")

this string contains a single quote(')character.

In [12]:
print('this string contains a double quote(")character.')

this string contains a double quote(")character.

# Bolean

Bolean adalah tipe data True dan False

In [13]:
True

True

In [14]:
False

False

In [15]:
type(True)

bool

In [16]:
type(False)

bool

In [17]:
type(1)

int

In [18]:
type('1')

str

In [19]:
type('true')

str

# Variables

# variables assignment

In [20]:
n=300

In [21]:
n

300

In [22]:
print(n)

300

In [23]:
n = k = 300
print(n, k)

300 300

# Variables Type

In [24]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

# Variables Name

In [25]:
name = 'yansen'
age = 29
has_laptops = True
print(name, age, has_laptops)

yansen 29 True

In [26]:
9_kepala naga = True

SyntaxError: invalid token (<ipython-input-26-9f30b20da407>, line 1)

In [ ]:
bola_naga_9 = True

In [ ]:
age = 1
Age = 2
aGe = 3
AGe = 4

print(age, Age, aGe, AGe)

# Operator and Expresion in Phyton

In [ ]:
a = 10
b = 20

In [ ]:
a + b

In [ ]:
a + b - 5

In [ ]:
a+b-5

In [ ]:
a=4
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

In [ ]:
10/5

# COMPARISON OPERATORS

In [ ]:
a=10
b=20

print(a==b) #sama dengan
print(a!=b) #tidak sama dengan
print(a<=b)
print(a>=b)

# STRINGS MANIPULATION

In [ ]:
# + operators

s='foo'
t='bar'
u='baz'

print(s+t)

In [ ]:
s+t+u

In [ ]:
print(' hacktive8 ' + ' inalum ')

In [ ]:
# + operators

s*4

In [ ]:
# + operators

s='foo'

s in 'that food for us'

In [ ]:
s in 'that good for us'

In [27]:
# Case Conversion

s = 'hacKTIvAte InalUM'

In [28]:
# Capitalize

s.capitalize()

'Hacktivate inalum'

In [29]:
# lower
print(s.lower())

# Uppercase
print(s.upper())

hacktivate inalum
HACKTIVATE INALUM

In [30]:
# Swapcase
s.swapcase()

'HACktiVaTE iNALum'

# LIST

ditandai dengan adanya [ ]

In [31]:
a = ['foo', 'bar', 'baz', 'qux']

In [32]:
a

['foo', 'bar', 'baz', 'qux']

In [33]:
a = [ 21.42, 'foobar', 3, 4, 'bark', False, 3.14159 ]

In [34]:
b = ['foo', 'bar', 'baz', 'qux', 'quox', 'corge']

In [35]:
b

['foo', 'bar', 'baz', 'qux', 'quox', 'corge']

In [36]:
b[0]

'foo'

In [37]:
b[2]

'baz'

In [38]:
# Slicing

print(b)
print(b[2:5])
print(b[1:4])

['foo', 'bar', 'baz', 'qux', 'quox', 'corge']
['baz', 'qux', 'quox']
['bar', 'baz', 'qux']

In [39]:
b[:5]

['foo', 'bar', 'baz', 'qux', 'quox']

In [40]:
b[2:]

['baz', 'qux', 'quox', 'corge']

In [41]:
print(b)

['foo', 'bar', 'baz', 'qux', 'quox', 'corge']

In [42]:
b*2

['foo',
 'bar',
 'baz',
 'qux',
 'quox',
 'corge',
 'foo',
 'bar',
 'baz',
 'qux',
 'quox',
 'corge']

In [43]:
print(b)

len(b)

['foo', 'bar', 'baz', 'qux', 'quox', 'corge']

6

In [44]:
min(b)

'bar'

In [45]:
max(b)

'qux'

In [46]:
c = [1,2,3,4,5,6]
print(max(c))
print(min(c))

6
1

### MODIFYING SINGLE LIST VALUE

In [47]:
b

['foo', 'bar', 'baz', 'qux', 'quox', 'corge']

In [48]:
b[2] = 10

In [49]:
b

['foo', 'bar', 10, 'qux', 'quox', 'corge']

In [50]:
b[-1] = 20

In [51]:
b

['foo', 'bar', 10, 'qux', 'quox', 20]

In [52]:
del b [3]

In [53]:
b

['foo', 'bar', 10, 'quox', 20]

### MODIFYING MULTIPLE LIST VALUE

In [54]:
b

['foo', 'bar', 10, 'quox', 20]

In [55]:
b[1:4]

['bar', 10, 'quox']

In [56]:
b[1:4] = [1.1, 2.2, 3.3]

In [57]:
b

['foo', 1.1, 2.2, 3.3, 20]

### TUPLES

In [58]:
t =('foo', 'bar', 'baz', 'qux', 'quox', 'corge')
t

('foo', 'bar', 'baz', 'qux', 'quox', 'corge')

In [59]:
t[0]

'foo'

In [60]:
t[-1]

'corge'

In [61]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

### DICTIONARY

In [62]:
identitas = {
    'Fnama' : 'yansen',
    'Lname' : 'obrian',
    'Age' : 29
}

In [63]:
identitas

{'Fnama': 'yansen', 'Lname': 'obrian', 'Age': 29}

In [64]:
identitas['Age']

29

In [65]:
identitas['Fnama']

'yansen'

In [66]:
identitas['pekerjaan'] = 'guru'

In [67]:
identitas

{'Fnama': 'yansen', 'Lname': 'obrian', 'Age': 29, 'pekerjaan': 'guru'}

In [68]:
identitas['pekerjaan'] = 'Data Scientist'

In [69]:
identitas

{'Fnama': 'yansen',
 'Lname': 'obrian',
 'Age': 29,
 'pekerjaan': 'Data Scientist'}

In [70]:
del identitas ['pekerjaan']

In [71]:
identitas

{'Fnama': 'yansen', 'Lname': 'obrian', 'Age': 29}

In [72]:
person = {}

In [73]:
type(person)

dict

In [74]:
person['fname'] = 'Nama Depan'
person['lname'] = 'Nama Belakang'
person['age'] = 29
person['children'] = ['Anak 1', 'Anak 2', 'Anak 3']

In [75]:
person['pets'] = {'dog' : 'dog name', 'cat' : 'cat name'}

In [76]:
person

{'fname': 'Nama Depan',
 'lname': 'Nama Belakang',
 'age': 29,
 'children': ['Anak 1', 'Anak 2', 'Anak 3'],
 'pets': {'dog': 'dog name', 'cat': 'cat name'}}

In [77]:
person['age']

29

In [78]:
person['children']

['Anak 1', 'Anak 2', 'Anak 3']

In [79]:
person['children'] [1]

'Anak 2'

In [80]:
person['pets']

{'dog': 'dog name', 'cat': 'cat name'}

In [81]:
person['pets']['cat']

'cat name'

In [82]:
d = [1, 2, 3, [4, 5, 6], 7]

In [83]:
d[3]

[4, 5, 6]

In [84]:
d[3][0]

4

In [85]:
d={'a':10, 'b':20, 'c':30}

In [86]:
d

{'a': 10, 'b': 20, 'c': 30}

In [87]:
# values
d.values()

dict_values([10, 20, 30])

In [88]:
# Phyton Statement

print('Hello World!')

x = [1, 2, 3]

Hello World!

In [89]:
# Line Continuation

person1_age = 42
person2_age = 16
person3_age = 71

someone_of_is_working_age = (person1_age >=18 and person1_age <=65) or (person2_age >=18 and person2_age <=65 ) or (person3_age >=18 and person3_age <=65 )

someone_of_is_working_age

True

In [90]:
someone_of_is_working_age = (
    (person1_age >=18 and person1_age <=65) or
    (person2_age >=18 and person2_age <=65 ) or
    (person3_age >=18 and person3_age <=65 )
)

someone_of_is_working_age

True

In [91]:
a = [[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9]]

In [92]:
a

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]

In [93]:
s = 'Hello World!'

In [94]:
s = \
    'Hello World!'

In [95]:
s

'Hello World!'

In [96]:
# Multiple Statement per Line

x=1;y=2;z=3

print(x),print(y),print(z)

1
2
3

(None, None, None)

In [97]:
# Comments

a=['foo', 'bar'] # variable a berisi list foo dan bar

In [98]:
a

['foo', 'bar']

In [99]:
b='# Im not Comment'

In [100]:
b

'# Im not Comment'

In [101]:
"""
initialize value for radius of circle

Then calculate the area of circle
and display the result to the notebook
"""

pi=3.14
r=12

area=(pi*(r**2))
print('The area of circle is', area)

The area of circle is 452.16

In [102]:
pi=3.14
pi = 3.14

# CONDITIONAL

In [103]:
x = 0
y = 5

if x < y:                            # Truthy
    print('yes')

if y < x:                            # Falsy
    print('yes')

if x:                                # Falsy
    print('yes')

if y:                                # Truthy
    print('yes')

if 'aul' in 'grault':                # Truthy
    print('yes')

if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

yes
yes
yes

In [104]:
if <exprs>:
    <sttm>
    <sttm>
    <sttm>

<statement>

SyntaxError: invalid syntax (<ipython-input-104-93df8f97d31b>, line 1)

In [105]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('expression was true')
    print('executing statement')
    print('...')
    print('done')

print('after conditional')

expression was true
executing statement
...
done
after conditional

In [106]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

# Else and Elif

In [107]:
if <expr>:
    <statement(s)>
else:
    <statement(s)>

SyntaxError: invalid syntax (<ipython-input-107-61fa642492af>, line 1)

In [108]:
x=20

if x>20:
    print('x is small')
else:
    print('x is large')

x is large

In [109]:
if <expr>:
    <statement>
elif <expr>:
    <statement>
elif <expr>:
    <statement>
...
else :
    <statement>

SyntaxError: invalid syntax (<ipython-input-109-2afed18d31c6>, line 1)

In [110]:
name = 'Arnold'

if name == 'Fred':
    print ('Hello Fred')
elif name == 'xander' :
    print ('Hello Xander')
elif name == 'hacktiv8' :
    print ('Hello hacktiv8')

In [111]:
x=2

if x == 1: 
    print('foo')
    print('bar')
elif x == 2: 
    print('qux')
    print('quux')
else :
    print('corge')
    print('grault')

qux
quux

# Ternary Operator

In [112]:
<expr1> if <condt_expr> else <expr2>

SyntaxError: invalid syntax (<ipython-input-112-a3e6ad6058f8>, line 1)

In [113]:
age = 12

'teen' if age < 21 else 'adult'

'teen'

In [114]:
if a > b :
    m = a
else :
    m = b
    
m = a if a > b else b

TypeError: '>' not supported between instances of 'list' and 'str'

# While

In [115]:
while <expr>:
    <statement>

SyntaxError: invalid syntax (<ipython-input-115-c9e0cb139ee0>, line 1)

In [116]:
n = 5

while n > 0:
    n-=1
    print(n)

4
3
2
1
0

# Break dan Continue

In [117]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop Ended')

4
3
Loop Ended

In [118]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop Ended')

4
3
1
0
Loop Ended

In [119]:
# else clause

while <expr>:
    <statement>
else:
    <additional_statement>

SyntaxError: invalid syntax (<ipython-input-119-6b060a3e322a>, line 3)

In [120]:
# one - line while loops

n=5

while n>0: n-=1; print(n)

4
3
2
1
0

In [121]:
# For Loops

for <var> in <iterable>:
    <statement>

SyntaxError: invalid syntax (<ipython-input-121-55d0a8997bce>, line 3)

In [122]:
a= ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [123]:
d = {'foo':1, 'bar':2, 'baz':3}

for k in d:
    print(k)

foo
bar
baz

In [124]:
for k in d:
    print(d[k])

1
2
3

In [125]:
d['foo']

1

In [126]:
for v in d.values():
    print(v)

1
2
3

In [127]:
# range function

x = range(10)

In [128]:
x

range(0, 10)

In [129]:
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

# Break dan Continue

In [130]:
# else clause

for i in ['foo', 'bar', 'baz', 'qux']:
  if 'z' in i:
    break
    print(i)
else:
    print('Done')

In [131]:
for i in ['foo', 'bar', 'baz', 'qux']:
  if 'z' in i:
    break
    print(i)
else:
    print('Done')

In [132]:
temp = input("ketikan temperatur yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_convertion = temp [-1]

if i_convertion == "c":
    result = int(round((9 * degree)/ 5 + 32))
elif i_convertion

SyntaxError: invalid syntax (<ipython-input-132-459f51e54ce6>, line 7)

In [133]:
temp

NameError: name 'temp' is not defined

In [134]:
result

NameError: name 'result' is not defined

In [135]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [136]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [137]:
a = ['foo', 'bar']
while len(a):
    print(a.pop(0))
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [138]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

In [139]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [140]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [141]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [142]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [143]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [ ]:
while True: 
    msg = input ("ketikan karakter: ")
    print(msg)
    if msg == 'stop':
        break