## integer

integer adalah tipe data phyton yang berupa angka

In [1]:
print(123123)

123123

In [2]:
type(10)

int

## Floating-Point

In [3]:
4.2

4.2

In [4]:
type(4.2)

float

In [5]:
4.

4.0

In [6]:
.2

0.2

In [7]:
.4e7

4000000.0

In [8]:
4.2e-4

0.00042

### Strings

Strings adalah tipe data di phyton yang berupa desimal

In [9]:
print('ini adalah tipe data string')

ini adalah tipe data string

In [10]:
type('ini adalah tipe data string')

str

In [11]:
print("this string contains a single quote(')character.")

this string contains a single quote(')character.

In [12]:
print('this string contains a double quote(")character.')

this string contains a double quote(")character.

#### Bolean

Bolean adalah tipe data True dan False

In [13]:
True

True

In [14]:
False

False

In [15]:
type(True)

bool

In [16]:
type(False)

bool

In [17]:
type(1)

int

In [18]:
type('1')

str

In [19]:
type('true')

str

##### Variables

# variables assignment

In [20]:
n=300

In [21]:
n

300

In [22]:
print(n)

300

In [23]:
n = k = 300
print(n, k)

300 300

###### Variables Name

In [24]:
name = 'yansen'
age = 29
has_laptops = True
print(name, age, has_laptops)

yansen 29 True

In [25]:
9_kepala naga = TRue

SyntaxError: invalid token (<ipython-input-25-f9335ec185fa>, line 1)

In [ ]:
bola_naga_9 = True

In [ ]:
age = 1
Age = 2
aGe = 3
AGe = 4

print(age, Age, aGe, AGe)

##### operator and expresion in phyton

In [ ]:
a = 10
b = 20

In [ ]:
a + b

In [ ]:
a + b - 5

In [ ]:
a+b-5

In [ ]:
a=4
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

In [ ]:
10/5

##### COMPARISON OPERATORS

In [ ]:
a=10
b=20

print(a==b) #sama dengan
print(a!=b) #tidak sama dengan
print(a<=b)
print(a>=b)

#### STRINGS MANIPULATION

In [ ]:
# + operators

s='foo'
t='bar'
u='baz'

print(s+t)

In [ ]:
s+t+u

In [ ]:
print(' hacktive8 ' + ' inalum ')

In [ ]:
# + operators

s*4

In [ ]:
# + operators

s='foo'

s in 'that food for us'

In [ ]:
s in 'that good for us'

In [ ]:
# Case Conversion

s = 'hacKTIvAte InalUM'

In [ ]:
# Capitalize

s.capitalize()

In [ ]:
# lower
print(s.lower())

# Uppercase
print(s.upper())

In [ ]:
# Swapcase
s.swapcase()

### LIST

ditandai dengan adanya [ ]

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']

In [ ]:
a

In [ ]:
a = [ 21.42, 'foobar', 3, 4, 'bark', False, 3.14159 ]

In [ ]:
b = ['foo', 'bar', 'baz', 'qux', 'quox', 'corge']

In [ ]:
b

In [ ]:
b[0]

In [ ]:
b[2]

In [ ]:
# Slicing

print(b)
print(b[2:5])
print(b[1:4])

In [ ]:
b[:5]

In [ ]:
b[2:]

In [ ]:
print(b)

In [ ]:
b*2

In [ ]:
print(b)

len(b)

In [ ]:
min(b)

In [ ]:
max(b)

In [26]:
c = [1,2,3,4,5,6]
print(max(c))
print(min(c))

6
1

### MODIFYING SINGLE LIST VALUE

In [27]:
b

NameError: name 'b' is not defined

In [ ]:
b[2] = 10

In [ ]:
b

In [ ]:
b[-1] = 20

In [ ]:
b

In [ ]:
del b [3]

In [ ]:
b

### MODIFYING MULTIPLE LIST VALUE

In [ ]:
b

In [ ]:
b[1:4]

In [ ]:
b[1:4] = [1.1, 2.2, 3.3]

In [ ]:
b

### TUPLES

In [ ]:
t =('foo', 'bar', 'baz', 'qux', 'quox', 'corge')
t

In [ ]:
t[0]

In [ ]:
t[-1]

In [ ]:
t[0]='newValue'

### DICTIONARY

In [ ]:
identitas = {
    'Fnama' : 'yansen',
    'Lname' : 'obrian',
    'Age' : 29
}

In [ ]:
identitas

In [ ]:
identitas['Age']

In [ ]:
identitas['Fnama']

In [ ]:
identitas['pekerjaan'] = 'guru'

In [ ]:
identitas

In [ ]:
identitas['pekerjaan'] = 'Data Scientist'

In [ ]:
identitas

In [ ]:
del identitas ['pekerjaan']

In [ ]:
identitas

In [ ]:
person = {}

In [ ]:
type(person)

In [ ]:
person['fname'] = 'Nama Depan'
person['lname'] = 'Nama Belakang'
person['age'] = 29
person['children'] = ['Anak 1', 'Anak 2', 'Anak 3']

In [ ]:
person['pets'] = {'dog' : 'dog name', 'cat' : 'cat name'}

In [ ]:
person

In [ ]:
person['age']

In [ ]:
person['children']

In [ ]:
person['children'] [1]

In [ ]:
person['pets']

In [ ]:
person['pets']['cat']

In [ ]:
d = [1, 2, 3, [4, 5, 6], 7]

In [ ]:
d[3]

In [ ]:
d[3][0]

In [ ]:
d={'a':10, 'b':20, 'c':30}

In [ ]:
d

In [ ]:
# values
d.values()

In [ ]:
# Phyton Statement

print('Hello World!')

x = [1, 2, 3]

In [ ]:
# Line Continuation

person1_age = 42
person2_age = 16
person3_age = 71

someone_of_is_working_age = (person1_age >=18 and person1_age <=65) or (person2_age >=18 and person2_age <=65 ) or (person3_age >=18 and person3_age <=65 )

someone_of_is_working_age

In [ ]:
someone_of_is_working_age = (
    (person1_age >=18 and person1_age <=65) or
    (person2_age >=18 and person2_age <=65 ) or
    (person3_age >=18 and person3_age <=65 )
)

someone_of_is_working_age

In [ ]:
a = [[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9],[1,2,3], [4,5,6], [7,8,9]]

In [ ]:
a

In [ ]:
s = 
    'Hello World!'

In [ ]:
s = \
    'Hello World!'

In [ ]:
s

In [ ]:
# Multiple Statement per Line

x=1;y=2;z=3

print(x),print(y),print(z)

In [ ]:
# Comments

a=['foo', 'bar'] # variable a berisi list foo dan bar

In [ ]:
a

In [ ]:
b='# Im not Comment'

In [ ]:
b

In [ ]:
"""
initialize value for radius of circle

Then calculate the area of circle
and display the result to the notebook
"""

pi=3.14
r=12

area=(pi*(r**2))
print('The area of circle is', area)

In [28]:
pi=3.14
pi = 3.14

### CONDITIONAL

In [29]:
# If Statement

x=0
y=5

if x<y :
    print('yes')
    
if y<x :
    print('yes')
    
if 'aul' in 'grault':
    print('yes')

yes
yes

In [30]:
if <exprs>:
    <sttm>
    <sttm>
    <sttm>

<statement>

SyntaxError: invalid syntax (<ipython-input-30-93df8f97d31b>, line 1)

In [ ]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('expression was true')
    print('executing statement')
    print('...')
    print('done')

print('after conditional')

In [ ]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('outer condition is true')
    
    if 10 > 20:

In [ ]:
# Else and Elif

if <expr>:
    <statement>
    
else:
    <statement>

In [ ]:
x=20

if x>20:
    print('x is small')
else:
    print('x is large')

In [ ]:
if <expr>:
    <statement>
elif <expr>:
    <statement>
elif <expr>:
    <statement>
...
else :
    <statement>

In [ ]:
name = 'Arnold'

if name == 'Fred':
    print ('Hello Fred')
elif name == 'xander' :
    print ('Hello Xander')
elif name == 'hacktiv8' :
    print ('Hello hacktiv8')

In [ ]:
x=2

if x == 1: 
    print('foo')
    print('bar')
elif x == 2: 
    print('qux')
    print('quux')
else :
    print('corge')
    print('grault')

In [ ]:
## Ternary Operator

<expr1> if <condt_expr> else <expr2>

In [ ]:
age = 12

'teen' if age < 21 else 'adult'

In [ ]:
if a > b :
    m = a
else :
    m = b
    
m = a if a > b else b

In [ ]:
## while

while <expr>:
    <statement>

In [ ]:
n = 5

while n > 0:
    n-=1
    print(n)

In [ ]:
## break dan continue

In [ ]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop Ended')

In [ ]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop Ended')

In [ ]:
# else clause

while <expr>:
    <statement>
else:
    <additional_statement>

In [ ]:
# one - line while loops

n=5

while n>0: n-=1; print(n)

In [ ]:
# For Loops

for <var> in <iterable>:
    <statement>

In [ ]:
a= ['foo', 'bar', 'baz']

for i in a:
    print(i)

In [ ]:
d = {'foo':1, 'bar':2, 'baz':3}

for k in d:
    print(k)

In [ ]:
for k in d:
    print(d[k])

In [ ]:
d['foo']

In [ ]:
for v in d.values():
    print(v)

In [ ]:
# range function

x = range(10)

In [ ]:
x

In [ ]:
for n in x:
    print(n)

In [ ]:
# break dan continue

In [ ]:
# else clause

for i in ['foo', 'bar', 'baz', 'qux']:
  if 'z' in i:
    break
    print(i)
else:
    print('Done')

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
  if 'z' in i:
    break
    print(i)
else:
    print('Done')

In [ ]:
temp = input("ketikan temperatur yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_convertion = temp [-1]

if i_convertion == "c":
    result = int(round((9 * degree)/ 5 + 32))
elif i_convertion

In [ ]:
temp

In [ ]:
result

In [ ]:
while True: 
    msg = input ("ketikan karakter: ")
    print(msg)
    if msg == 'stop':
        break

In [31]:
ls

 Volume in drive C is OS
 Volume Serial Number is 4A2A-750D

 Directory of C:\Users\ASUS

25/04/2020  15:01    <DIR>          .
25/04/2020  15:01    <DIR>          ..
24/10/2019  12:40    <DIR>          .android
25/04/2020  15:15    <DIR>          .conda
25/04/2020  09:18                43 .condarc
25/04/2020  09:21    <DIR>          .ipynb_checkpoints
25/04/2020  09:21    <DIR>          .ipython
20/09/2019  23:38             2.032 .recently-used.xbel
16/03/2020  08:22    <DIR>          3D Objects
22/04/2020  23:03    <DIR>          anaconda3
16/03/2020  08:22    <DIR>          Contacts
23/04/2020  18:35    <DIR>          Desktop
22/04/2020  23:03    <DIR>          Documents
25/04/2020  14:48    <DIR>          Downloads
07/10/2019  09:36    <DIR>          Dropbox
16/03/2020  08:22    <DIR>          Favorites
16/03/2020  08:22    <DIR>          Links
16/03/2020  08:22    <DIR>          Music
15/04/2020  23:55    <DIR>          OneDrive
16/03/2020  08:22    <DIR>          Pictures
01/11/2016  19:39    <DIR>          Roaming
16/03/2020  08:22    <DIR>          Saved Games
16/03/2020  08:22    <DIR>          Searches
25/04/2020  15:01            34.299 Untitled.ipynb
16/03/2020  08:22    <DIR>          Videos
               3 File(s)         36.374 bytes
              22 Dir(s)  27.245.314.048 bytes free