# Python for Data Science Sesi 5 - Pandas Introduction

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('nbaallelo.csv')

FileNotFoundError: [Errno 2] File nbaallelo.csv does not exist: 'nbaallelo.csv'

In [ ]:
len(df) # mendapatkan jumlah row

In [ ]:
df.shape # mengetahui jumlah row dan kolom

In [ ]:
df.head() # mengetahui judul header

In [ ]:
pd.set_option("display.max.columns", None)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(3) # memunculkan jumlah data yang ingin ditampilkan

In [ ]:
df.tail(3)

In [ ]:
df.info() # mengetahui tipe data integer, object dan lainlain

In [ ]:
df.describe() # df = datafreigt

## Exploring my Datasets
Exploratory data analysis can help you answer

In [ ]:
df["team_id"].value_counts()

In [ ]:
df["fran_id"].value_counts()

In [ ]:
df.loc[df["fran_id"] == "Lakers", "team_id"].value_counts()

In [ ]:
df.loc[df["team_id"] == "MNL", "date_game"].min()

In [ ]:
df.loc[df["team_id"] == "MNL", "date_game"].max()

In [ ]:
df.loc[df["team_id"] == "MNL", "date_game"].agg(("min", "max"))

In [ ]:
df.loc[df["team_id"] == "BOS", "pts"].sum()

The Boston Celtics scored a total of 626.484 points in 5.997 matches

## Pandas Data Structure - Series

In [ ]:
revenues = pd.Series([5555, 7000, 1980])

In [ ]:
revenues

In [ ]:
revenues.values

In [ ]:
revenues.index

In [ ]:
city_revenues = pd.Series(
[4200, 8000, 6500],
index=["Ämsterdam", "Toronto", "Tokyo"]
)

In [ ]:
city_revenues

In [ ]:
city_revenues.values

In [ ]:
city_revenues.index

In [ ]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})

In [ ]:
city_employee_count

In [ ]:
city_employee_count.keys()

In [ ]:
"Tokyo" in city_employee_count

In [ ]:
"Semarang" in city_employee_count

## Pandas Data Structure - Data Frame

In [ ]:
city_revenues

In [ ]:
city_employee_count

In [ ]:
city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})

In [ ]:
city_data

In [ ]:
city_data.index

In [ ]:
city_data.values

In [ ]:
city_data.values

In [ ]:
city_data.axes

In [ ]:
city_data.axes[0]

In [ ]:
city_data.axes[1]

In [ ]:
city_data.keys()

In [ ]:
"Amsterdam" in city_data

In [ ]:
"revenue" in city_data

In [ ]:
"pts" in df

In [ ]:
df.index

In [ ]:
df.axes

In [ ]:
"pts" is df.keys()

## Accessing Series Elements
- .loc
- .iloc

In [ ]:
city_revenues

In [ ]:
city_revenues["Toronto"]

In [ ]:
city_revenues[1]

In [ ]:
city_revenues[1]

In [ ]:
city_revenues[1:]

In [ ]:
city_revenues["Toronto":]

In [ ]:
colors = pd.Series(
["red", "purple", "blue", "green", "yellow"],
index=[1,2,3,5,8]
)

In [ ]:
colors

In [ ]:
colors[1]

- .loc = label index
- .iloc = positional index

In [ ]:
colors.loc[1]

In [ ]:
colors.iloc[1]

In [ ]:
colors.iloc[1:3]

In [ ]:
colors.loc[3:8]

## Accessing Data Frame Elements

In [ ]:
city_data

In [ ]:
city_data["revenue"]

In [ ]:
city_data.revenue

In [ ]:
toys = pd.DataFrame([
    {"name": "ball", "shape": "sphere"},
    {"name": "rubick", "shape": "cube"}
])

In [ ]:
toys

In [ ]:
toys["shape"]

In [ ]:
toys.shape

In [ ]:
city_data

In [ ]:
city_data.loc["Amsterdam"]

In [ ]:
city_data.loc["Tokyo": "Toronto"]

In [ ]:
city_data.iloc[1]

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[-2]

In [ ]:
city_data

In [ ]:
city_data.loc["Amsterdam": "Tokyo", "revenue"]

In [ ]:
df.head(5)

In [ ]:
df.loc[5555:5559, ["team_id", "pts", "opp_id", "opp_pts"]]

## Queying My Datasets

In [ ]:
two_years = df[
    df['year_id'] >= 2014
]

In [ ]:
two_years

In [ ]:
two_years.shape

In [ ]:
games_with_notes = df[
    df['notes'].notnull()
]

In [ ]:
games_with_notes.shape

In [ ]:
ers = df[
    df["fran_id"].str.endswith("ers")
]

In [ ]:
ers

In [ ]:
df[
    (df["pts"] >= 100) &
    (df["opp_pts"] >= 100) &
    (df["team_id"] == "BLB")
]

In [ ]:
# GAME TAHUN 1992, YANG PUNYA NOTES, YANG TEAM ID NYA MULAI DARI LA
df[
    (df["year_id"] == 1992) &
    (df["notes"].notnull()) &
    (df["team_id"].str.startswith("LA"))
]

## Grouping and Aggregating Data

In [ ]:
city_revenues

In [ ]:
city_revenues.sum()

In [ ]:
city_revenues.max()

In [ ]:
points = df["pts"]

In [ ]:
points.sum()

In [ ]:
df.head(3)

In [ ]:
df.groupby("fran_id")["pts"].sum()

In [ ]:
df[
    (df["fran_id"] == "Spurs") &
    (df["year_id"] > 2010)
].groupby(["year_id", "game_result"])["game_id"].count()

In [ ]:
df.head()

In [ ]:
df[
    (df["fran_id"] == "Knicks") &
    (df["year_id"] == 2015)
].groupby(["game_location", "game_result"])["pts"].count()

## Manipulating Columns

In [ ]:
nba = df.copy()

In [ ]:
nba.shape

In [ ]:
nba["difference"] = nba.pts - nba.opp_pts

In [ ]:
nba.shape

In [ ]:
nba.head()

In [ ]:
nba["difference"].max()

In [ ]:
nba[
    nba["difference"] == 68
]

In [ ]:
renamed_nba = nba.rename(
    columns = {"game_result": "result", "game_location": "location"}
)

In [ ]:
renamed_nba.info()

In [ ]:
nba.shape

In [ ]:
elo_columns = ["elo_i", "elo_n", "opp_elo_i", "opp_elo_n"]

In [ ]:
nba.drop(elo_columns, inplace=True, axis=1)

In [ ]:
nba.shape

In [3]:
nba.head()

NameError: name 'nba' is not defined

## Specifying Data Types

In [ ]:
nba.info()

In [ ]:
nba["date_game"] = pd.to_datetime(nba["date_game"])

In [ ]:
nba.info()

In [ ]:
nba.head()

In [ ]:
nba["game_location"].nunique()

In [ ]:
nba["game_location"].value_counts()

In [ ]:
nba["game_location"] = pd.Categorical(nba["game_location"])

In [ ]:
nba.info()

In [ ]:
nba["game_result"] = pd.Categorical(nba["game_result"])

In [ ]:
nba.info()

In [ ]:
rows_without_missing_data = nba.dropna()

In [ ]:
rows_without_missing_data.shape

In [ ]:
rows_without_missing_data.head()

In [ ]:
rows_without_missing_data.info()

In [ ]:
data_without_missing_columns = nba.dropna(axis=1)

In [ ]:
data_without_missing_columns.shape

In [ ]:
data_without_missing_columns.head()

In [ ]:
data_with_default_notes = nba.copy()

In [ ]:
data_with_default_notes.head()

In [ ]:
data_with_default_notes["notes"].fillna(
    value="no notes at all",
    inplace=True
)

In [ ]:
data_with_default_notes.head()

In [ ]:
data_with_default_notes.info()

In [ ]:
data_with_default_notes["notes"].describe()

## Combining Multiple Dataset

In [ ]:
city_data

In [ ]:
further_city_data = pd.DataFrame(
    {"revenue": [7000, 3400], "employee_count":[2, 2]},
    index=["New York", "Barcelona"]
)

In [ ]:
further_city_data

In [ ]:
all_city_data = pd.concat([city_data, further_city_data], sort=False)

In [ ]:
all_city_data

In [ ]:
city_countries = pd.DataFrame({
    "country": ["Holland", "Japan", "Holland", "Canada", "Spain"],
    "capital": [1, 1, 0, 0, 0]
},
    index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto", "Barcelona"]
)

In [ ]:
city_countries

In [ ]:
cities = pd.concat([all_city_data, city_countries], axis=1, sort=False)

In [ ]:
cities

In [ ]:
pd.concat([all_city_data, city_countries], axis=1, join="inner")

In [ ]:
countries = pd.DataFrame({
    "population_millions": [17, 127,37],
    "continent": ["Europe", "Asia", "North America"]
},
    index=["Holland", "Japan", "Canada"])

In [ ]:
countries

In [ ]:
pd.merge(cities, countries, left_on="country", right_index=True)

## Visualizing Pandas DataFrame

In [ ]:
%matplotlib inline

In [ ]:
nba[
    nba["fran_id"] == "Knicks"
].groupby("year_id")["pts"].sum().plot()

In [4]:
nba["fran_id"].value_counts().head(10)

NameError: name 'nba' is not defined

In [ ]:
nba["fran_id"].value_counts().head(10).plot(kind="bar")

In [ ]:
nba["fran_id"].value_counts().head(10).plot(kind="pie")

In [ ]:
df = pd.read_csv('property_data.csv')

In [ ]:
df.head(10)

## Standard Missing Values

In [ ]:
df['ST_NUM']

In [ ]:
df['ST_NUM'].isnull()

## Non-Standard Missing Values

In [ ]:
df

In [ ]:
df['NUM_BEDROOMS']

In [ ]:
df['NUM_BEDROOMS'].isnull()

In [ ]:
missing_values = ["n/a", "na", "--"]

In [ ]:
df = pd.read_csv("property_data.csv", na_values = missing_values)

In [ ]:
df['NUM_BEDROOMS']

In [ ]:
df['NUM_BEDROOMS'].isnull()

## Unexpected Missing Values

In [ ]:
df

In [ ]:
df['OWN_OCCUPIED']

In [ ]:
df['OWN_OCCUPIED'].isnull()

In [ ]:
cnt = 0

for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[cnt, 'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    cnt+=1

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

## Replace

In [ ]:
df['ST_NUM'].fillna(125, inplace=True)

In [5]:
df.loc[2, 'BT_NUM'] = 125

NameError: name 'df' is not defined

In [ ]:
median = df['NUM_BEDROOMS'].median()

In [ ]:
df['NUM_BEDROOMS'].fillna(median, inplace=True)

In [ ]:
df

In [ ]:
data = pd.ExcelFile('obes.xls')

In [ ]:
data

In [ ]:
data.sheet_names

In [ ]:
data_age = data.parse(u'7.2', skiprows=4, skipfooter=14)

In [ ]:
data_age.head()

In [ ]:
data_age.rename(columns={u'Unnamed: 0': u'Year'}, inplace=True)

In [ ]:
data_age.head()

In [ ]:
data_age.isnull()

In [ ]:
data_age

In [ ]:
data_age.set_index('Year', inplace=True)

In [ ]:
data_age

In [ ]:
data_age.plot()

In [ ]:
data_age_minus_total = data_age.drop('Total', axis=1)

In [6]:
data_age_minus_total.plot()

NameError: name 'data_age_minus_total' is not defined

In [ ]:
data_age['Under 16'].plot(label="Under 16", legend=True)
data_age['35-44'].plot(label="35-44", legend="True")

## Time Series

In [ ]:
from datetime import datetime

In [ ]:
date_rng = pd.date_range(start='1/01/2020', end='1/08/2020', freq='H')

In [ ]:
date_rng

In [ ]:
df = pd.DataFrame(date_rng, columns=['date'])

In [ ]:
df['data'] = np.random.randint(0,100, size=(len(date_rng)))

In [ ]:
df.head()

In [ ]:
df['datetime'] = pd.to_datetime(df['date'])

In [ ]:
df = df.set_index('datetime')

In [ ]:
df.drop(['date'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
string_date_rng = [str(x) for x in date_rng]
string_date_rng

In [ ]:
string_date_rng_2 = ['June-01-2020', 'June-02-2020', 'June-03-2020']

In [ ]:
timestamp_date_rng_2 = [datetime.strptime(x, '%B-%d-%Y') for x in string_date_rng_2]

In [ ]:
timestamp_date_rng_2

In [ ]:
df2 = pd.DataFrame(timestamp_date_rng_2, columns=['date'])

In [7]:
df2

NameError: name 'df2' is not defined

In [ ]:
df.head()

In [ ]:
df[df.index.day == 2]

In [ ]:
df['2020-01-04':'2020-01-06']

In [ ]:
# resample

df.resample('2D').mean()

In [ ]:
df['rolling_sum'] = df.rolling(3).sum()

In [ ]:
df

In [ ]:
df['rolling_sum'] = df['rolling_sum'].fillna(method='backfill')

In [ ]:
df

## Time Series on Dataset

In [8]:
opsd_daily = pd.read_csv('opsd_germany_daily.csv')

FileNotFoundError: [Errno 2] File opsd_germany_daily.csv does not exist: 'opsd_germany_daily.csv'

In [ ]:
opsd_daily.shape

In [ ]:
opsd_daily.shape

In [ ]:
opsd_daily.head()

In [ ]:
opsd_daily.tail()

In [ ]:
opsd_daily = opsd_daily.set_index('Date')

In [ ]:
opsd_daily.head()

In [ ]:
opsd_daily = pd.read_csv('opsd_germany_daily.csv', index_col=0, parse_dates=True)

In [9]:
opsd_daily.head()

NameError: name 'opsd_daily' is not defined

In [10]:
opsd_daily['Year'] = opsd_daily.index.year

NameError: name 'opsd_daily' is not defined

In [ ]:
opsd_daily

In [ ]:
opsd_daily['Month'] = opsd_daily.index.month
opsd_daily['Weekday'] = opsd_daily.index.weekday

In [11]:
opsd_daily.head()

NameError: name 'opsd_daily' is not defined

In [ ]:
opsd_daily.loc['2017-08-10']

In [ ]:
opsd_daily.loc['2014-01-20':'2014-01-22']

In [ ]:
opsd_daily.loc['2012-02']

In [ ]:
opsd_daily['Consumption'].plot()

In [ ]:
opsd_daily['Consumption'].plot(marker='.', alpha=0.5, linestyle='None', figsize=(11,11))

In [ ]:
opsd_daily['Solar'].plot(marker='.', alpha=0.5, linestyle='None', figsize=(17,9))

In [ ]:
opsd_daily['Wind'].plot(marker='.', alpha=0.5, linestyle='None', figsize=(17,9))

In [ ]:
opsd_daily.loc['2017', 'Consumption'].plot(figsize=(17, 9))

In [ ]:
opsd_daily.loc['2017-01':'2017-02','Consumption'].plot(marker='o', linestyle='-', figsize=(17, 9))

In [ ]:
opsd_daily.boxplot(column=['Consumption'], by='Month')

In [ ]:
opsd_daily.boxplot(column=['Solar'], by='Month')

In [ ]:
opsd_daily.boxplot(column=['Wind'], by='Month')

In [ ]:
opsd_daily.boxplot(column=['Consumption'], by='Weekday')

In [12]:
opsd_daily.head()

NameError: name 'opsd_daily' is not defined

In [ ]:
data_columns = ['Consumption', 'Wind', 'Solar', 'Wind+Solar']

In [ ]:
opsd_weekly_mean = opsd_daily[data_columns].resample('W').mean()

In [ ]:
opsd_weekly_mean.head()

In [ ]:
start, end = '2017-01', '2017-06'

opsd_daily.loc[start:end, 'Solar'].plot(marker='.', figsize=(11, 9))
opsd_weekly_mean.loc[start:end, 'Solar'].plot(marker='.', figsize=(11, 9))